.hero-heading {
    font-size: 120px;
}

.hero-subtitle {
    font-size: 60px;
    line-height: 1;
    max-width: 65%;
}

.hero-button {
    width: 550px;
    font-size: 35px;
}



@media (max-width: 1300px) {
    .hero-heading {
        font-size: 80px;
    }

    .hero-subtitle {
        font-size: 40px;
    }

    .hero-button {
        width: 500px;
    }
}

@media (width <= 768px) {
    .hero-heading {
        font-size: 65px;
    }

    .hero-subtitle {
        font-size: 35px;
        max-width: 100%;
    }

    .hero-button {
        font-size: 30px;
        width: 260px;
        padding: 10px 0;
    }
}

@media (width <= 805px) {
    .hero-heading {
        font-size: 60px;
    }

    .hero-subtitle {
        font-size: 28px;
        max-width: 100%;
    }

    .hero-button {
        font-size: 30px;
        width: 230px;
        padding: 8px 0;
    }
}

@media  (width <= 660px) {
    .hero-heading {
        font-size: 40px;
    }

    .hero-subtitle {
        font-size: 24px;
        max-width: 100%;
    }

    .hero-button {
        font-size: 30px;
        width: 230px;
        padding: 8px 0;
    }
}

@media (width <= 418px) {
    .hero-heading {
        font-size: 29px;
    }

    .hero-subtitle {
        font-size: 18px;
        max-width: 500px;
    }

    .hero-button {
        font-size: 16px;
        width: 150px;
        padding: 8px 0;
    }
}